# Desafío Data Scientist - LATAM Airlines

## 0. Introducción

Como parte del desafío LATAM se presenta una serie de problemas a responder a lo largo de este notebook en python 3. Para lo cual, se ha provisto de un archivo CSV con el dataset a usar y archivos vinculados a la solución (url: https://github.com/Mishagk/LATAM-Desafio-DS). 
<br><br>
Con todo esto, la principal problematica a responder o desarrollar es *"predecir la probabilidad de atraso de los vuelos que aterrizan o despegan del aeropuerto de Santiago de Chile (SCL)"*

## 1. Librerias

Previo a ejecutar este notebook se creará un entorno virtual en Anaconda (env name: latam1) en python 3.9.13.

In [1]:
# Version de python en entorno virtual de Anaconda
!python --version

Python 3.9.13

NOTA: Es importante que se ejecute el código con la versión de python indicada ya que las librerias dependen del mismo

Se procede a instalar las principales librerias a utilizar

In [2]:
# Instalar principales librerias

!pip install --upgrade scikit-learn
!pip install numpy
!pip install pandas
!pip install scipy
!pip install seaborn
!pip install matplotlib

Requirement already satisfied: scikit-learn in c:\users\mijail\anaconda3\envs\latam1\lib\site-packages (1.1.3)
Requirement already satisfied: scipy>=1.3.2 in c:\users\mijail\anaconda3\envs\latam1\lib\site-packages (from scikit-learn) (1.9.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\mijail\anaconda3\envs\latam1\lib\site-packages (from scikit-learn) (1.23.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\mijail\anaconda3\envs\latam1\lib\site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: joblib>=1.0.0 in c:\users\mijail\anaconda3\envs\latam1\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: numpy in c:\users\mijail\anaconda3\envs\latam1\lib\site-packages (1.23.4)
Requirement already satisfied: pandas in c:\users\mijail\anaconda3\envs\latam1\lib\site-packages (1.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\mijail\anaconda3\envs\latam1\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.20.3 in c:\users\mijail\anaconda3\envs\latam1\lib\site-packages (from pandas) (1.23.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\mijail\anaconda3\envs\latam1\lib\site-packages (from pandas) (2022.5)
Requirement already satisfied: six>=1.5 in c:\users\mijail\anaconda3\envs\latam1\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: scipy in c:\users\mijail\anaconda3\envs\latam1\lib\site-packages (1.9.3)
Requirement already satisfied: numpy<1.26.0,>=1.18.5 in c:\users\mijail\anaconda3\envs\latam1\lib\site-packages (from scipy) (1.23.4)
Requirement already satisfied: seaborn in c:\users\mijail\anaconda3\envs\latam1\lib\site-packages (0.12.1)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\mijail\anaconda3\envs\latam1\lib\site-packages (from seaborn) (3.6.0)
Requirement already satisfied: numpy>=1.17 in c:\users\mijail\anaconda3\envs\latam1\lib\site-packages (from seaborn) (1.23.4)
Requirement already satisfied: pandas>=0.25 in c:\users\mijail\anaconda3\envs\latam1\lib\site-packages (from seaborn) (1.5.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\mijail\anaconda3\envs\latam1\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.2.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\mijail\anaconda3\envs\latam1\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.38.0)
Requirement already satisfied: packaging>=20.0 in c:\users\mijail\anaconda3\envs\latam1\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (21.3)
Requirement already satisfied: cycler>=0.10 in c:\users\mijail\anaconda3\envs\latam1\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\mijail\anaconda3\envs\latam1\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.5)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\mijail\anaconda3\envs\latam1\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\mijail\anaconda3\envs\latam1\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\mijail\anaconda3\envs\latam1\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in c:\users\mijail\anaconda3\envs\latam1\lib\site-packages (from pandas>=0.25->seaborn) (2022.5)
Requirement already satisfied: six>=1.5 in c:\users\mijail\anaconda3\envs\latam1\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Requirement already satisfied: matplotlib in c:\users\mijail\anaconda3\envs\latam1\lib\site-packages (3.6.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\mijail\anaconda3\envs\latam1\lib\site-packages (from matplotlib) (9.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\mijail\anaconda3\envs\latam1\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\mijail\anaconda3\envs\latam1\lib\site-packages (from matplotlib) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\mijail\anaconda3\envs\latam1\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\mijail\anaconda3\envs\latam1\lib\site-packages (from matplotlib) (4.38.0)
Requirement already satisfied: cycler>=0.10 in c:\users\mijail\anaconda3\envs\latam1\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\mijail\anaconda3\envs\latam1\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: numpy>=1.19 in c:\users\mijail\anaconda3\envs\latam1\lib\site-packages (from matplotlib) (1.23.4)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\mijail\anaconda3\envs\latam1\lib\site-packages (from matplotlib) (1.0.5)
Requirement already satisfied: six>=1.5 in c:\users\mijail\anaconda3\envs\latam1\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

Con las librerias instaladas, se realiza la importación de las mismas

In [139]:
# Importar librerias

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re
import sys

import warnings
warnings.filterwarnings("ignore")  # Ignorar las advertencias, pero SI muestra los errores

In [265]:
# Version de las librerias

print(skl.__version__)
print(np.__version__)
print(pd.__version__)
print(sns.__version__)

1.1.3
1.23.4
1.5.1
0.12.1

# 2. Carga de Datos

In [287]:
# Leer datos desde la URL de github

# URL a github
url_github = "https://raw.githubusercontent.com/Mishagk/LATAM-Desafio-DS/master/dataset_SCL.csv"

# leer datos
data = pd.read_csv(url_github,sep=',',quotechar='"')

# ver primeras 5 filas
data.head()

,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES
0,2017-01-01 23:30:00,226,SCEL,KMIA,AAL,2017-01-01 23:33:00,226,SCEL,KMIA,AAL,1.0,1.0,2017.0,Domingo,I,American Airlines,Santiago,Miami
1,2017-01-02 23:30:00,226,SCEL,KMIA,AAL,2017-01-02 23:39:00,226,SCEL,KMIA,AAL,2.0,1.0,2017.0,Lunes,I,American Airlines,Santiago,Miami
2,2017-01-03 23:30:00,226,SCEL,KMIA,AAL,2017-01-03 23:39:00,226,SCEL,KMIA,AAL,3.0,1.0,2017.0,Martes,I,American Airlines,Santiago,Miami
3,2017-01-04 23:30:00,226,SCEL,KMIA,AAL,2017-01-04 23:33:00,226,SCEL,KMIA,AAL,4.0,1.0,2017.0,Miercoles,I,American Airlines,Santiago,Miami
4,2017-01-05 23:30:00,226,SCEL,KMIA,AAL,2017-01-05 23:28:00,226,SCEL,KMIA,AAL,5.0,1.0,2017.0,Jueves,I,American Airlines,Santiago,Miami

In [288]:
# informacion general de tabla

print('Cantidad columnas :',data.shape[1])
print('Cantidad registros:',data.shape[0])

Cantidad columnas : 18
Cantidad registros: 68206

El dataset leido contiene registro de los vuelos de aviones que aterrizaron o despegaron en Santiago de Chile (SCL). La descripción de cada variable:
<br>
- `Fecha-I` : Fecha y hora programada del vuelo.
- `Vlo-I` : Número de vuelo programado.
- `Ori-I` : Código de ciudad de origen programado.
- `Des-I` : Código de ciudad de destino programado.
- `Emp-I` : Código aerolínea de vuelo programado.
- `Fecha-O` : Fecha y hora de operación del vuelo.
- `Vlo-O`: Número de vuelo de operación del vuelo.
- `Ori-O` : Código de ciudad de origen de operación
- `Des-O` : Código de ciudad de destino de operación.
- `Emp-O` : Código aerolínea de vuelo operado.
- `DIA` : Día del mes de operación del vuelo.
- `MES` : Número de mes de operación del vuelo.
- `AÑO` : Año de operación del vuelo.
- `DIANOM` : Día de la semana de operación del vuelo.
- `TIPOVUELO` : Tipo de vuelo, I =Internacional, N =Nacional.
- `OPERA` : Nombre de aerolínea que opera.
- `SIGLAORI` : Nombre ciudad origen.
- `SIGLADES` : Nombre ciudad destino.

## 3. Analisis y Preparación de Datos

### 3.1. Calidad de Datos

En esta sección revisaremos el estado de los datos en su condición de origen.

In [289]:
# Ver todas las columnas disponibles, la cantidad de datos nulos y el tipo de datos según se haya leido
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68206 entries, 0 to 68205
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Fecha-I    68206 non-null  object
 1   Vlo-I      68167 non-null  object
 2   Ori-I      68167 non-null  object
 3   Des-I      68167 non-null  object
 4   Emp-I      68167 non-null  object
 5   Fecha-O    68167 non-null  object
 6   Vlo-O      68166 non-null  object
 7   Ori-O      68167 non-null  object
 8   Des-O      68167 non-null  object
 9   Emp-O      68167 non-null  object
 10  DIA        68167 non-null  float64
 11  MES        68167 non-null  float64
 12  AÑO        68167 non-null  float64
 13  DIANOM     68167 non-null  object
 14  TIPOVUELO  68167 non-null  object
 15  OPERA      68167 non-null  object
 16  SIGLAORI   68167 non-null  object
 17  SIGLADES   68167 non-null  object
dtypes: float64(3), object(15)
memory usage: 9.4+ MB

In [290]:
# Ver cuantos datos "vacios" o "nulos" se tienen desde informacion origen (data raw)
data.isnull().sum()

Fecha-I       0
Vlo-I        39
Ori-I        39
Des-I        39
Emp-I        39
Fecha-O      39
Vlo-O        40
Ori-O        39
Des-O        39
Emp-O        39
DIA          39
MES          39
AÑO          39
DIANOM       39
TIPOVUELO    39
OPERA        39
SIGLAORI     39
SIGLADES     39
dtype: int64

Observamos que hay en común cerca de **39** registros con datos nulos, acontinuación veremos dichos casos

In [291]:
# Revisar los casos que poseen al menos 1 dato NaN en el registro
data_nan = data[data.isnull().any(axis=1)].copy()

# Datos sin NaN - La data con datos completos
data_com = data[~data.index.isin(data_nan.index)].copy()

# info
print('Cantidad de registros completos:',data_com.shape[0])
print('Cantidad de registros con algun NAN:',data_nan.shape[0])

# ver datos con NaN
data_nan.head()

Cantidad de registros completos: 68166
Cantidad de registros con algun NAN: 40

,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES
6068,2017-01-19 11:00:00,200,SCEL,SPJC,LAW,2017-01-19 11:03:00,NaN,SCEL,SPJC,56R,19.0,1.0,2017.0,Jueves,I,Latin American Wings,Santiago,Lima
17059,"2017-03-08 06:20:00,1351,SCEL,SBCT,LAN,2017-03...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17060,"2017-03-06 14:20:00,1357,SCEL,SBCT,LAN,2017-03...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39316,"2017-08-10 20:15:00,8541,SCEL,SBCT,ONE,2017-08...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55332,"2017-10-03 08:00:00,7896,SCEL,SANU,LAN,2017-10...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Segun los datos extraidos se observa en la primera columna que cuando se leyó (pd.read_csv) han habido 39 registros que leyó como una sola cadena de texto

In [292]:
# Ver un caso de la mala lectura
data_nan.iloc[1,0] # seleccionar fila 1, columna 0

'2017-03-08 06:20:00,1351,SCEL,SBCT,LAN,2017-03-08 06:10:00,1351,SCEL,SBCT,LAN,8,3,2017,Miercoles,I,Grupo LATAM,Santiago,"Curitiba, Bra."'

Al observarse el texto **"Curitiba, Bra."**, se infiere que la coma (`,`) posiblemente generó la incorrecta lectura para las **39** filas detectadas con `NaN`.
<br><br>
Dado que la logica detectada es: Dento de la ultima variable que posee una coma (`,`) entre doble comillas (`"texto"`), se creará un codigo que permita detectar dicha subcadena y cambiar la coma por un guion (`"-"`), para finalmente separar los valores en sus respectivas columnas.

In [293]:
# Script de corrección y separación de valores

# leemos fila por fila de los datos extraidos
for i in range(data_nan.shape[0]):
    
    # Solo aquellas filas que posean NaN en todas excepto la primera columna NaN
    if(data_nan.iloc[i,:].isnull().sum() == 17):
        
        # extraer sub-cadena entre ""
        subtext = re.search('"(.*)"',data_nan.iloc[i,0]).group(1)
        
        # Corregir la subcadena de texto mediante el reemplazo de caracteres
        subtext_new = subtext.replace(",","-").replace("- ","-")
        texto = data_nan.iloc[i,0].replace(subtext,subtext_new).replace('"','') # Reemplazar texto completo
        
         # dividir en los valores de las columnas
        lista_valores = texto.split(",")
        
        # En caso en la lista obtenida existan 18 valores se actualiza
        if(len(lista_valores) == 18):
            data_nan.iloc[i,:] = lista_valores

# ver valores corregidos
data_nan.head()

,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES
6068,2017-01-19 11:00:00,200,SCEL,SPJC,LAW,2017-01-19 11:03:00,NaN,SCEL,SPJC,56R,19.0,1.0,2017.0,Jueves,I,Latin American Wings,Santiago,Lima
17059,2017-03-08 06:20:00,1351,SCEL,SBCT,LAN,2017-03-08 06:10:00,1351,SCEL,SBCT,LAN,8,3,2017,Miercoles,I,Grupo LATAM,Santiago,Curitiba-Bra.
17060,2017-03-06 14:20:00,1357,SCEL,SBCT,LAN,2017-03-06 14:26:00,1357,SCEL,SBCT,LAN,6,3,2017,Lunes,I,Grupo LATAM,Santiago,Curitiba-Bra.
39316,2017-08-10 20:15:00,8541,SCEL,SBCT,ONE,2017-08-10 20:11:00,8541,SCEL,SBCT,ONE,10,8,2017,Jueves,I,Oceanair Linhas Aereas,Santiago,Curitiba-Bra.
55332,2017-10-03 08:00:00,7896,SCEL,SANU,LAN,2017-10-03 08:00:00,7896,SCEL,SANU,DSM,3,10,2017,Martes,I,Grupo LATAM,Santiago,San Juan-Arg.

In [294]:
# Obtener un dataframe consolidado entre los dataframes completos y NaN corregidos. Adicional, ver la cantidad de registros nulos

try:
    # Concatenar ambos dataframes
    data = pd.concat([data_com.copy(),data_nan.copy()])

    # Borramos de memoria los anteriores
    del data_com, data_nan
    
except:
    print('[Info Advertencia] Se borraron previamente los dataframes')

# info
print('Cantidad de registros al concatenar dataframes:',data.shape[0])
print('--------------------------------------------------------')

# Revisamos nuevamente los datos nulos en la nueva data
print('Cantidad de datos NaN por variable:')
data.isnull().sum()

Cantidad de registros al concatenar dataframes: 68206
--------------------------------------------------------
Cantidad de datos NaN por variable:

Fecha-I      0
Vlo-I        0
Ori-I        0
Des-I        0
Emp-I        0
Fecha-O      0
Vlo-O        1
Ori-O        0
Des-O        0
Emp-O        0
DIA          0
MES          0
AÑO          0
DIANOM       0
TIPOVUELO    0
OPERA        0
SIGLAORI     0
SIGLADES     0
dtype: int64

Observamos que solo hay **1** registro con NaN, donde el campo faltante es el **número de vuelo de operación** (`Vlo-O`)

In [295]:
data[data.isnull().any(axis=1)].copy()

,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES
6068,2017-01-19 11:00:00,200,SCEL,SPJC,LAW,2017-01-19 11:03:00,NaN,SCEL,SPJC,56R,19.0,1.0,2017.0,Jueves,I,Latin American Wings,Santiago,Lima

Solo para ver si podemos completar el dato faltante, filtramos aquellos registros con columnas comunes como `Emp-I`,`Emp-O` y `OPERA`

In [296]:
data[(data["Emp-I"]=="LAW") & (data["Emp-O"]=="56R") & (data["OPERA"]=="Latin American Wings")].sort_values(by=["Fecha-I","Vlo-I","Ori-I","Des-I","Emp-I"])

,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES
6094,2017-01-02 01:15:00,704,SCEL,SPJC,LAW,2017-01-02 01:34:00,704,SCEL,SPJC,56R,2.0,1.0,2017.0,Lunes,I,Latin American Wings,Santiago,Lima
6107,2017-01-03 01:15:00,1704,SCEL,SPJC,LAW,2017-01-03 02:38:00,1700,SCEL,SPJC,56R,3.0,1.0,2017.0,Martes,I,Latin American Wings,Santiago,Lima
6079,2017-01-04 01:15:00,700,SCEL,SPJC,LAW,2017-01-04 02:25:00,700,SCEL,SPJC,56R,4.0,1.0,2017.0,Miercoles,I,Latin American Wings,Santiago,Lima
6095,2017-01-05 01:15:00,704,SCEL,SPJC,LAW,2017-01-05 01:15:00,708,SCEL,SPJC,56R,5.0,1.0,2017.0,Jueves,I,Latin American Wings,Santiago,Lima
6080,2017-01-06 01:15:00,700,SCEL,SPJC,LAW,2017-01-06 02:18:00,700,SCEL,SPJC,56R,6.0,1.0,2017.0,Viernes,I,Latin American Wings,Santiago,Lima
6082,2017-01-08 01:15:00,700,SCEL,SPJC,LAW,2017-01-08 02:01:00,700,SCEL,SPJC,56R,8.0,1.0,2017.0,Domingo,I,Latin American Wings,Santiago,Lima
6096,2017-01-09 01:15:00,704,SCEL,SPJC,LAW,2017-01-09 02:15:00,704,SCEL,SPJC,56R,9.0,1.0,2017.0,Lunes,I,Latin American Wings,Santiago,Lima
6097,2017-01-10 01:15:00,704,SCEL,SPJC,LAW,2017-01-10 02:36:00,704,SCEL,SPJC,56R,10.0,1.0,2017.0,Martes,I,Latin American Wings,Santiago,Lima
6083,2017-01-11 01:15:00,700,SCEL,SPJC,LAW,2017-01-11 01:20:00,700,SCEL,SPJC,56R,11.0,1.0,2017.0,Miercoles,I,Latin American Wings,Santiago,Lima
6098,2017-01-12 01:15:00,704,SCEL,SPJC,LAW,2017-01-12 01:55:00,702,SCEL,SPJC,56R,12.0,1.0,2017.0,Jueves,I,Latin American Wings,Santiago,Lima
6084,2017-01-13 01:15:00,700,SCEL,SPJC,LAW,2017-01-13 02:48:00,700,SCEL,SPJC,56R,13.0,1.0,2017.0,Viernes,I,Latin American Wings,Santiago,Lima
6099,2017-01-16 01:15:00,704,SCEL,SPJC,LAW,2017-01-16 01:20:00,704,SCEL,SPJC,56R,16.0,1.0,2017.0,Lunes,I,Latin American Wings,Santiago,Lima
6100,2017-01-17 01:15:00,704,SCEL,SPJC,LAW,2017-01-17 02:02:00,704,SCEL,SPJC,56R,17.0,1.0,2017.0,Martes,I,Latin American Wings,Santiago,Lima
6086,2017-01-18 01:15:00,700,SCEL,SPJC,LAW,2017-01-18 01:36:00,702,SCEL,SPJC,56R,18.0,1.0,2017.0,Miercoles,I,Latin American Wings,Santiago,Lima
6067,2017-01-18 11:00:00,200,SCEL,SPJC,LAW,2017-01-18 11:06:00,200,SCEL,SPJC,56R,18.0,1.0,2017.0,Miercoles,I,Latin American Wings,Santiago,Lima
6101,2017-01-19 01:15:00,704,SCEL,SPJC,LAW,2017-01-19 01:15:00,704,SCEL,SPJC,56R,19.0,1.0,2017.0,Jueves,I,Latin American Wings,Santiago,Lima
6068,2017-01-19 11:00:00,200,SCEL,SPJC,LAW,2017-01-19 11:03:00,NaN,SCEL,SPJC,56R,19.0,1.0,2017.0,Jueves,I,Latin American Wings,Santiago,Lima

Observamos la ultima fila, el registro con el dato `NaN`, hay 2 vuelos para la fecha del 2017-01-19 (`Fecha_I`). Debido a que hay casos donde el `Vlo-I` no es igual a `Vlo-O`, **NO** podriamos inferir necesariamente que `Vlo-O` para dicho caso tenga que ser valor **200**.
<br><br>
Para efectos prácticos de no insertar algún sesgo, se filtrará dicho registro de los datos.

In [297]:
# filtrar registro
data = data.dropna()
print('Cantidad filas restantes:',data.shape[0])

Cantidad filas restantes: 68205

### 3.2. Formateo de datos

Mediante la observación a priori de los datos y usando la descripción del diccionario de cada variable se realizará el formateo de cada una.

In [298]:
# Creamos un backup previo al formateo de datos, para evaluar los casos donde el formato generará NaN por error
data_bkp = data.copy()

In [299]:
# Convertir de formato segun cada columna

data["Fecha-I"] = pd.to_datetime(data["Fecha-I"],format="%Y-%m-%d %H:%M:%S") # fecha
data["Vlo-I"] = pd.to_numeric(data["Vlo-I"], errors="coerce",downcast="integer") # entero
data["Ori-I"] = data["Ori-I"].map(str) # string
data["Des-I"] = data["Des-I"].map(str) # string
data["Emp-I"] = data["Emp-I"].map(str) # string
data["Fecha-O"] = pd.to_datetime(data["Fecha-O"],format="%Y-%m-%d %H:%M:%S") # fecha
data["Vlo-O"] = pd.to_numeric(data["Vlo-O"], errors="coerce",downcast="integer") # entero
data["Ori-O"] = data["Ori-O"].map(str) # string
data["Des-O"] = data["Des-O"].map(str) # string
data["Emp-O"] = data["Emp-O"].map(str) # string
data["DIA"] = pd.to_numeric(data["DIA"], errors="coerce",downcast="integer") # entero
data["MES"] = pd.to_numeric(data["MES"], errors="coerce",downcast="integer") # entero
data["AÑO"] = pd.to_numeric(data["AÑO"], errors="coerce",downcast="integer") # entero
data["DIANOM"] = data["DIANOM"].map(str) # string
data["TIPOVUELO"] = data["TIPOVUELO"].map(str) # string
data["OPERA"] = data["OPERA"].map(str) # string
data["SIGLAORI"] = data["SIGLAORI"].map(str) # string
data["SIGLADES"] = data["SIGLADES"].map(str) # string

# Ver tipo de datos de salida
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68205 entries, 0 to 67669
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Fecha-I    68205 non-null  datetime64[ns]
 1   Vlo-I      68200 non-null  float64
 2   Ori-I      68205 non-null  object
 3   Des-I      68205 non-null  object
 4   Emp-I      68205 non-null  object
 5   Fecha-O    68205 non-null  datetime64[ns]
 6   Vlo-O      68189 non-null  float64
 7   Ori-O      68205 non-null  object
 8   Des-O      68205 non-null  object
 9   Emp-O      68205 non-null  object
 10  DIA        68205 non-null  int8
 11  MES        68205 non-null  int8
 12  AÑO        68205 non-null  int16
 13  DIANOM     68205 non-null  object
 14  TIPOVUELO  68205 non-null  object
 15  OPERA      68205 non-null  object
 16  SIGLAORI   68205 non-null  object
 17  SIGLADES   68205 non-null  object
dtypes: datetime64[ns](2), float64(2), int16(1), int8(2), object(11)
memory usage: 8.6+ MB

In [300]:
# ver datos formateados
data.head()

,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES
0,2017-01-01 23:30:00,226.0,SCEL,KMIA,AAL,2017-01-01 23:33:00,226.0,SCEL,KMIA,AAL,1,1,2017,Domingo,I,American Airlines,Santiago,Miami
1,2017-01-02 23:30:00,226.0,SCEL,KMIA,AAL,2017-01-02 23:39:00,226.0,SCEL,KMIA,AAL,2,1,2017,Lunes,I,American Airlines,Santiago,Miami
2,2017-01-03 23:30:00,226.0,SCEL,KMIA,AAL,2017-01-03 23:39:00,226.0,SCEL,KMIA,AAL,3,1,2017,Martes,I,American Airlines,Santiago,Miami
3,2017-01-04 23:30:00,226.0,SCEL,KMIA,AAL,2017-01-04 23:33:00,226.0,SCEL,KMIA,AAL,4,1,2017,Miercoles,I,American Airlines,Santiago,Miami
4,2017-01-05 23:30:00,226.0,SCEL,KMIA,AAL,2017-01-05 23:28:00,226.0,SCEL,KMIA,AAL,5,1,2017,Jueves,I,American Airlines,Santiago,Miami

In [301]:
# Datos que al formatear no se pudo y se cambiaron a NaN
data[data.isnull().any(axis=1)].copy()

,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES
13906,2017-03-30 10:30:00,71.0,SCEL,SCIE,SKU,2017-03-30 10:50:00,NaN,SCEL,SCIE,SKU,30,3,2017,Jueves,N,Sky Airline,Santiago,Concepcion
13907,2017-03-22 11:00:00,1071.0,SCEL,SCIE,SKU,2017-03-22 11:00:00,NaN,SCEL,SCIE,SKU,22,3,2017,Miercoles,N,Sky Airline,Santiago,Concepcion
17055,2017-03-22 10:00:00,201.0,SCEL,SCIE,LXP,2017-03-22 11:50:00,NaN,SCEL,SCIE,LXP,22,3,2017,Miercoles,N,Grupo LATAM,Santiago,Concepcion
19207,2017-04-25 09:00:00,71.0,SCEL,SCIE,SKU,2017-04-25 09:29:00,NaN,SCEL,SCIE,SKU,25,4,2017,Martes,N,Sky Airline,Santiago,Concepcion
22167,2017-04-06 21:10:00,43.0,SCEL,SCIE,LAW,2017-04-06 21:24:00,NaN,SCEL,SCIE,JMR,6,4,2017,Jueves,N,Latin American Wings,Santiago,Concepcion
22232,2017-05-13 21:50:00,NaN,SCEL,SUMU,AAL,2017-05-13 21:52:00,989.0,SCEL,SUMU,AAL,13,5,2017,Sabado,I,American Airlines,Santiago,Montevideo
22301,2017-05-26 09:40:00,401.0,SCEL,LFPG,AFR,2017-05-26 10:03:00,NaN,SCEL,LFPG,AFR,26,5,2017,Viernes,I,Air France,Santiago,Paris
22302,2017-05-28 09:40:00,401.0,SCEL,LFPG,AFR,2017-05-28 09:43:00,NaN,SCEL,LFPG,AFR,28,5,2017,Domingo,I,Air France,Santiago,Paris
24304,2017-05-11 10:00:00,802.0,SCEL,SPJC,SKU,2017-05-11 10:36:00,NaN,SCEL,SPJC,SKU,11,5,2017,Jueves,I,Sky Airline,Santiago,Lima
27246,2017-05-15 12:15:00,114.0,SCEL,SCAT,LAN,2017-05-15 13:10:00,NaN,SCEL,SCAT,LAN,15,5,2017,Lunes,N,Grupo LATAM,Santiago,Copiapo
27247,2017-05-25 13:15:00,622.0,SCEL,MMMX,LAN,2017-05-25 13:23:00,NaN,SCEL,MMMX,LAN,25,5,2017,Jueves,I,Grupo LATAM,Santiago,Ciudad de Mexico
27464,2017-06-16 20:30:00,NaN,SCEL,KDFW,AAL,2017-06-16 20:50:00,940.0,SCEL,KDFW,AAL,16,6,2017,Viernes,I,American Airlines,Santiago,Dallas
32196,2017-06-29 12:40:00,492.0,SCEL,SACO,LAN,2017-06-29 12:27:00,NaN,SCEL,SACO,LAN,29,6,2017,Jueves,I,Grupo LATAM,Santiago,Cordoba
38150,2017-07-10 23:30:00,338.0,SCEL,SCFA,LXP,2017-07-10 23:35:00,NaN,SCEL,SCFA,LXP,10,7,2017,Lunes,N,Grupo LATAM,Santiago,Antofagasta
39225,2017-08-07 19:00:00,NaN,SCEL,LFPG,PUE,2017-08-07 20:35:00,NaN,SCEL,LFPG,PUE,7,8,2017,Lunes,I,Plus Ultra Lineas Aereas,Santiago,Paris
39266,2017-08-24 23:00:00,NaN,SCEL,KIAH,UAL,2017-08-24 23:00:00,2804.0,SCEL,KIAH,UAL,24,8,2017,Jueves,I,United Airlines,Santiago,Houston
44939,2017-09-28 21:30:00,846.0,SCEL,KIAH,UAL,2017-09-28 21:44:00,NaN,SCEL,KIAH,UAL,28,9,2017,Jueves,I,United Airlines,Santiago,Houston
55354,2017-10-19 03:30:00,502.0,SCEL,KMIA,LAN,2017-10-19 03:33:00,NaN,SCEL,KMIA,LAN,19,10,2017,Jueves,I,Grupo LATAM,Santiago,Miami
58126,2017-11-05 17:00:00,NaN,SCEL,SCSE,SKU,2017-11-05 17:42:00,1104.0,SCEL,SCSE,SKU,5,11,2017,Domingo,N,Sky Airline,Santiago,La Serena
61426,2017-11-05 16:30:00,207.0,SCEL,SCIE,LXP,2017-11-05 18:22:00,NaN,SCEL,SCIE,LXP,5,11,2017,Domingo,N,Grupo LATAM,Santiago,Concepcion

In [302]:
# De los datos backup vemos los valores previos al formateo
data_bkp[data_bkp.index.isin(data[data.isnull().any(axis=1)].index)]

,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES
13906,2017-03-30 10:30:00,71,SCEL,SCIE,SKU,2017-03-30 10:50:00,71R,SCEL,SCIE,SKU,30.0,3.0,2017.0,Jueves,N,Sky Airline,Santiago,Concepcion
13907,2017-03-22 11:00:00,1071,SCEL,SCIE,SKU,2017-03-22 11:00:00,71R,SCEL,SCIE,SKU,22.0,3.0,2017.0,Miercoles,N,Sky Airline,Santiago,Concepcion
17055,2017-03-22 10:00:00,201,SCEL,SCIE,LXP,2017-03-22 11:50:00,201R,SCEL,SCIE,LXP,22.0,3.0,2017.0,Miercoles,N,Grupo LATAM,Santiago,Concepcion
19207,2017-04-25 09:00:00,71,SCEL,SCIE,SKU,2017-04-25 09:29:00,71R,SCEL,SCIE,SKU,25.0,4.0,2017.0,Martes,N,Sky Airline,Santiago,Concepcion
22167,2017-04-06 21:10:00,43,SCEL,SCIE,LAW,2017-04-06 21:24:00,43R,SCEL,SCIE,JMR,6.0,4.0,2017.0,Jueves,N,Latin American Wings,Santiago,Concepcion
22232,2017-05-13 21:50:00,989P,SCEL,SUMU,AAL,2017-05-13 21:52:00,989,SCEL,SUMU,AAL,13.0,5.0,2017.0,Sabado,I,American Airlines,Santiago,Montevideo
22301,2017-05-26 09:40:00,401,SCEL,LFPG,AFR,2017-05-26 10:03:00,401A,SCEL,LFPG,AFR,26.0,5.0,2017.0,Viernes,I,Air France,Santiago,Paris
22302,2017-05-28 09:40:00,401,SCEL,LFPG,AFR,2017-05-28 09:43:00,401B,SCEL,LFPG,AFR,28.0,5.0,2017.0,Domingo,I,Air France,Santiago,Paris
24304,2017-05-11 10:00:00,802,SCEL,SPJC,SKU,2017-05-11 10:36:00,802R,SCEL,SPJC,SKU,11.0,5.0,2017.0,Jueves,I,Sky Airline,Santiago,Lima
27246,2017-05-15 12:15:00,114,SCEL,SCAT,LAN,2017-05-15 13:10:00,114R,SCEL,SCAT,LAN,15.0,5.0,2017.0,Lunes,N,Grupo LATAM,Santiago,Copiapo
27247,2017-05-25 13:15:00,622,SCEL,MMMX,LAN,2017-05-25 13:23:00,622R,SCEL,MMMX,LAN,25.0,5.0,2017.0,Jueves,I,Grupo LATAM,Santiago,Ciudad de Mexico
27464,2017-06-16 20:30:00,940P,SCEL,KDFW,AAL,2017-06-16 20:50:00,940,SCEL,KDFW,AAL,16.0,6.0,2017.0,Viernes,I,American Airlines,Santiago,Dallas
32196,2017-06-29 12:40:00,492,SCEL,SACO,LAN,2017-06-29 12:27:00,492R,SCEL,SACO,LAN,29.0,6.0,2017.0,Jueves,I,Grupo LATAM,Santiago,Cordoba
38150,2017-07-10 23:30:00,338,SCEL,SCFA,LXP,2017-07-10 23:35:00,338R,SCEL,SCFA,LXP,10.0,7.0,2017.0,Lunes,N,Grupo LATAM,Santiago,Antofagasta
39225,2017-08-07 19:00:00,591P,SCEL,LFPG,PUE,2017-08-07 20:35:00,591P,SCEL,LFPG,PUE,7.0,8.0,2017.0,Lunes,I,Plus Ultra Lineas Aereas,Santiago,Paris
39266,2017-08-24 23:00:00,846A,SCEL,KIAH,UAL,2017-08-24 23:00:00,2804,SCEL,KIAH,UAL,24.0,8.0,2017.0,Jueves,I,United Airlines,Santiago,Houston
44939,2017-09-28 21:30:00,846,SCEL,KIAH,UAL,2017-09-28 21:44:00,846A,SCEL,KIAH,UAL,28.0,9.0,2017.0,Jueves,I,United Airlines,Santiago,Houston
55354,2017-10-19 03:30:00,502,SCEL,KMIA,LAN,2017-10-19 03:33:00,502R,SCEL,KMIA,LAN,19.0,10.0,2017.0,Jueves,I,Grupo LATAM,Santiago,Miami
58126,2017-11-05 17:00:00,1104A,SCEL,SCSE,SKU,2017-11-05 17:42:00,1104,SCEL,SCSE,SKU,5.0,11.0,2017.0,Domingo,N,Sky Airline,Santiago,La Serena
61426,2017-11-05 16:30:00,207,SCEL,SCIE,LXP,2017-11-05 18:22:00,207R,SCEL,SCIE,LXP,5.0,11.0,2017.0,Domingo,N,Grupo LATAM,Santiago,Concepcion

Con lo anterior, evidenciamos que las columnas `Vlo-I` y `Vlo-O` parecían inicialmente ser del tipo númerico, según la definición del diccionario se dice que indican el **"numero de vuelo"**. Por otro lado, dado que con estas variables no se pueden realizar operaciones aritmeticas (Ejemplo: la suma de numeros de vuelo no representa algo logico en este contexto), se convertirán dichas variables a tipo texto para no eliminarlas.

In [303]:
# Usar el backup y volver a convertir los datos

# Aplicar backup
data = data_bkp.copy() # restaurar valores previos

# Convertir de formato segun cada columna
data["Fecha-I"] = pd.to_datetime(data["Fecha-I"],format="%Y-%m-%d %H:%M:%S") # fecha
data["Vlo-I"] = data["Vlo-I"].map(str) # string
data["Ori-I"] = data["Ori-I"].map(str) # string
data["Des-I"] = data["Des-I"].map(str) # string
data["Emp-I"] = data["Emp-I"].map(str) # string
data["Fecha-O"] = pd.to_datetime(data["Fecha-O"],format="%Y-%m-%d %H:%M:%S") # fecha
data["Vlo-O"] = data["Vlo-O"].map(str) # string
data["Ori-O"] = data["Ori-O"].map(str) # string
data["Des-O"] = data["Des-O"].map(str) # string
data["Emp-O"] = data["Emp-O"].map(str) # string
data["DIA"] = pd.to_numeric(data["DIA"], errors="coerce",downcast="integer") # entero
data["MES"] = pd.to_numeric(data["MES"], errors="coerce",downcast="integer") # entero
data["AÑO"] = pd.to_numeric(data["AÑO"], errors="coerce",downcast="integer") # entero
data["DIANOM"] = data["DIANOM"].map(str) # string
data["TIPOVUELO"] = data["TIPOVUELO"].map(str) # string
data["OPERA"] = data["OPERA"].map(str) # string
data["SIGLAORI"] = data["SIGLAORI"].map(str) # string
data["SIGLADES"] = data["SIGLADES"].map(str) # string

# Ver tipo de datos de salida
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68205 entries, 0 to 67669
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Fecha-I    68205 non-null  datetime64[ns]
 1   Vlo-I      68205 non-null  object
 2   Ori-I      68205 non-null  object
 3   Des-I      68205 non-null  object
 4   Emp-I      68205 non-null  object
 5   Fecha-O    68205 non-null  datetime64[ns]
 6   Vlo-O      68205 non-null  object
 7   Ori-O      68205 non-null  object
 8   Des-O      68205 non-null  object
 9   Emp-O      68205 non-null  object
 10  DIA        68205 non-null  int8
 11  MES        68205 non-null  int8
 12  AÑO        68205 non-null  int16
 13  DIANOM     68205 non-null  object
 14  TIPOVUELO  68205 non-null  object
 15  OPERA      68205 non-null  object
 16  SIGLAORI   68205 non-null  object
 17  SIGLADES   68205 non-null  object
dtypes: datetime64[ns](2), int16(1), int8(2), object(13)
memory usage: 8.6+ MB

In [304]:
# ver datos
data.head()

,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,Emp-O,DIA,MES,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES
0,2017-01-01 23:30:00,226,SCEL,KMIA,AAL,2017-01-01 23:33:00,226,SCEL,KMIA,AAL,1,1,2017,Domingo,I,American Airlines,Santiago,Miami
1,2017-01-02 23:30:00,226,SCEL,KMIA,AAL,2017-01-02 23:39:00,226,SCEL,KMIA,AAL,2,1,2017,Lunes,I,American Airlines,Santiago,Miami
2,2017-01-03 23:30:00,226,SCEL,KMIA,AAL,2017-01-03 23:39:00,226,SCEL,KMIA,AAL,3,1,2017,Martes,I,American Airlines,Santiago,Miami
3,2017-01-04 23:30:00,226,SCEL,KMIA,AAL,2017-01-04 23:33:00,226,SCEL,KMIA,AAL,4,1,2017,Miercoles,I,American Airlines,Santiago,Miami
4,2017-01-05 23:30:00,226,SCEL,KMIA,AAL,2017-01-05 23:28:00,226,SCEL,KMIA,AAL,5,1,2017,Jueves,I,American Airlines,Santiago,Miami

### 3.3. Exploración de datos

In [ ]:
# Exploración de fechas